<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/chat.css">

</head>
<body>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span></div>
                    </div>
                </div>
                <div class="inbox_chat">
                    {% if chats %}
                        <div class="chat_list active_chat" id={{ chats[0].id }}>
                                <div class="chat_people">
                                    <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                               alt="sunil"></div>
                                    <div class="chat_ib">
                                        <h5>{% for user in chats[0].users[0:2] %}{{ user.email }} {% endfor %} <span class="chat_date">{% if chats[0].messages|length > 1 %}{{ chats[0].messages[-1].sent }}{% endif %}</span></h5>
                                        <p>{% if chats[0].messages|length > 1 %}{{ chats[0].messages[-1].text }}{% endif %}</p>
                                    </div>
                                </div>
                        </div>
                    {% endif %}
                    {% for chat in chats[1:-1] %}
                        <div class="chat_list" id="{{ chat.id }}">
                            <div class="chat_people">
                                <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                                <div class="chat_ib">
                                    <h5>{% for user in chat.users[0:2] %}{{ user.email }} {% endfor %} <span class="chat_date">{{ chat.messages[-1].sent }}</span></h5>
                                    <p>{{ chat.messages[-1].text }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    {% for message in chats[0].messages %}
                        {% if message.sender.email != current_user %}
                            <div class="incoming_msg">
                                <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                                   alt="sunil"></div>
                                <div class="received_msg">
                                    <div class="received_withd_msg">
                                        <p>{{ message.text }}</p>
                                        <span class="time_date">{{ message.sent }}</span></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                    <p>{{ message.text }}</p>
                                    <span class="time_date">{{ message.sent }}</span></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" id="msg" placeholder="Type a message"/>
                        <button class="msg_send_btn" id="send" type="button"><i class="fa fa-paper-plane-o"
                                                                      aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
<script src="static/js/chat.js"></script>
</body>
</html>